<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="user-heading"><%= @user.full_name %> <small><%= @user.email %></small></h1>
    <% @user.posts.each do |post| %>
      <div class="media">
        <div class="media-left">
          <a href="<%= post_url(post.id) %>">
            <img class="media-object" src="<%= post.image_url %>" alt="<%= post.title %>" width="100px">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <a href="<%= post_url(post.id) %>"><%= post.title %></a>
          </h4>
          <%= truncate(post.contents, :length => 200) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
