<style>
    .hero {
    height: 100%;
    background-image: url(<%= @post.image_url %>);
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>


<div class="hero">
  <div class="container">
    <h1><%= @post.title %></h1>
  </div>
</div>

<div class="container content">
  <div class="col-md-8 col-md-offset-2">
    <% if current_user.id == @post.user.id %>
      <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-warning" href="/posts/<%= @post.id %>/edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
        <a class="btn btn-danger" href="/destroy_post/<%= @post.id %>"><i class="fa fa-trash-o"></i> Destroy</a>
      </div>
    <% end %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <h3>by <%= @post.user.full_name %></h3>
    <p><%= @post.contents %></p>

    <div class="row">
      <div class="col-md-12 col-md-offset-">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Add Response</h3>
          </div>
          <div class="panel-body">
            <%= form_tag responses_url, :method => "post", :class => "form-horizontal" do %>
              <!-- Label and input for user_id -->
              <div class="form-group">
                <div class="col-sm-10">
                  <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
                </div>
              </div>

              <!-- Label and input for post_id -->
              <div class="form-group">
                <div class="col-sm-10">
                  <input type="hidden" id="post_id" name="post_id" placeholder="Post" class="form-control" value="<%= @post.id %>">
                </div>
              </div>

              <!-- Label and input for comment -->
              <div class="form-group">
                <label for="comment" class="col-sm-2 control-label">
                  Response
                </label>
                <div class="col-sm-10">
                  <textarea id="comment" name="comment" placeholder="Add response here." class="form-control" rows="3" value="<%= @response.comment %>"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="submit" value="Create Response" class="btn btn-success">
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% @post.responses.each do |response| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading"><%= response.user.full_name %></h4>
          <%= response.comment %>

          <hr>

          <% if current_user.id == response.user.id %>
          <div class="btn-group btn-group-justified">
            <%= link_to edit_response_url(@post.responses), :class => "btn btn-warning" do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to response_url(@post.responses), :method => "delete", :data => { :confirm => "Do you really want to delete this response?" }, :class => "btn btn-danger" do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
